<ion-header>
  <ion-toolbar class="dark">
    <ion-title slot="start">
      Tab One
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login-usuario"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <br> -->

  <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm1frvvEhipp6VAXxgQ">
    <ion-img src="/assets/tra.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ver mais</ion-card-subtitle>
      <ion-card-title>Festival do senac</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm4jE3NplklC8LVEMLK">
    <ion-img src="/assets/Rock.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ver mais</ion-card-subtitle>
      <ion-card-title>Rock in Rio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm4qcfxUlap1bWsJrJt">
    <ion-img src="/assets/sonideros.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ver mais</ion-card-subtitle>
      <ion-card-title>Baile da Gaiola</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card class="welcome-card" routerLink="/tabs/perfilEvento/-Lm4qwgDa73HvzxUw1XD">
    <ion-img src="/assets/12.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Ver mais</ion-card-subtitle>
      <ion-card-title>Festa da Cisco</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item routerLink="/tabs/listEvento">
      <ion-icon slot="start" color="medium" name="wine"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>